In [3]:
'John Smith,5555-2333,hi@example.com'.split(',')
JohnSmith='John Smith,5555-2333,hi@example.com'.split(',')
type(JohnSmith)

list

In [4]:
print(JohnSmith)

['John Smith', '5555-2333', 'hi@example.com']

In [7]:
first_list=[1,2,3,4,5]
second_list=[1,'A',3,4,5]
third_list=[]
fourth_list=[1,[1,'A',3,4,5],'JohnSmith']

In [8]:
first_list[3]

4

In [9]:
fourth_list[1][1]

'A'

In [10]:
# Sequence Counter
Seq = "AATGCCCTTC" 
A_Count = Seq.count("A") 
T_Count = Seq.count("T") 
C_Count = Seq.count("C") 
G_Count = Seq.count("G")

In [11]:
overall = [A_Count, T_Count, C_Count, G_Count]
print (overall)

[2, 3, 4, 1]

In [12]:
print(type(overall))

<class 'list'>

In [13]:
overall = ["A", A_Count, "T", T_Count, "C", C_Count, "G", G_Count]

In [14]:
print(overall)

['A', 2, 'T', 3, 'C', 4, 'G', 1]

In [15]:
print(type(overall))

<class 'list'>

In [16]:
overall = [["A", A_Count], ["T", T_Count], ["C", C_Count], ["G", G_Count]]
print(overall)

[['A', 2], ['T', 3], ['C', 4], ['G', 1]]

In [17]:
print(type(overall))

<class 'list'>

In [18]:
Mylist=['ATG', 'CCC', 'GGG', 'AAA', 'TTT', 'GTA']

In [19]:
Mylist[0][1]

'T'

In [20]:
Mylist[2]

'GGG'

In [22]:
Mylist[1:3]

['CCC', 'GGG']

In [23]:
Mylist[2:4]

['GGG', 'AAA']

In [24]:
Mylist[:4]

['ATG', 'CCC', 'GGG', 'AAA']

In [25]:
Mylist[2:]

['GGG', 'AAA', 'TTT', 'GTA']

In [26]:
Mylist[-1][2]

'A'

In [28]:
Mylist[-2:]

['TTT', 'GTA']

In [29]:
Mylist[-4:]

['GGG', 'AAA', 'TTT', 'GTA']

In [30]:
Mylist[:-2]

['ATG', 'CCC', 'GGG', 'AAA']

In [31]:
Mylist[:]

['ATG', 'CCC', 'GGG', 'AAA', 'TTT', 'GTA']

In [32]:
Mylist=[10,20,30,40,50,60,70,80]

In [33]:
Mylist[-4:-1]

[50, 60, 70]

In [34]:
Mylist[-1:-4]

[]

In [35]:
Mylist[1:4]

[20, 30, 40]

In [36]:
Mylist[4:1]

[]

In [37]:
Mylist[2:-1]

[30, 40, 50, 60, 70]

In [38]:
Mylist[-1:2]

[]

In [39]:
Mylist[-4:-1:-1]

Mylist[-1:-4:-1]

[]

In [41]:
Mylist[1:4:-1]

[]

In [42]:
Mylist[4:1:-1]

[50, 40, 30]

In [43]:
Mylist[2:-1:-1]

[]

In [44]:
Mylist[-1:2:-1]

[80, 70, 60, 50, 40]

In [45]:
List=[1,2,3,4,5,6]
List[2]=30
List[2:5]=['A', 0, True]

In [46]:
List

[1, 2, 'A', 0, True, 6]

In [47]:
List=List+[7]

In [48]:
List

[1, 2, 'A', 0, True, 6, 7]

In [49]:
List=List+[8,9]

In [50]:
List

[1, 2, 'A', 0, True, 6, 7, 8, 9]

In [51]:
del(List[0])

In [52]:
List

[2, 'A', 0, True, 6, 7, 8, 9]

In [53]:
seq = "atggctaggc"
list(seq)

['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

In [54]:
samples = ["AT"]*6

In [55]:
samples

['AT', 'AT', 'AT', 'AT', 'AT', 'AT']

In [56]:
a = [0, 1, 2, 3, 4, 5]
[3*x for x in a]

[0, 3, 6, 9, 12, 15]

In [57]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [58]:
first_list=[1,2,3,4,5]
first_list.append(99)
first_list.insert(2,50)      
first_list.extend([6,7,8])

In [59]:
first_list

[1, 2, 50, 3, 4, 5, 99, 6, 7, 8]

In [85]:
list=[1,2,3,1]
del(list[0])
list.remove(1)  	
list.pop()

3

In [86]:
list

[2]

In [87]:
list.count(1)

0

In [88]:
list.append(6)

In [89]:
list.reverse()

In [90]:
list

[6, 2]

In [91]:
list.sort()

In [92]:
list

[2, 6]

In [93]:
list.index(6)

1

In [94]:
list.insert(0,8)

In [95]:
list

[8, 2, 6]

In [1]:
point=(23,56,11)

In [2]:
point[2]

11

In [15]:
one_tuple=()

In [16]:
N=list(one_tuple)
N=N+[3]
one_tuple=N
print(one_tuple)

[3]

In [6]:
one_tuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
one_element_tuple=(3,)

In [18]:
one_element_tuple

(3,)

In [21]:
seq1 = ('M', 'R', 'V')
seq1[0]
seq1[1]
seq2 = 'MRV'
seq2[0]
seq2[1]
seq3 = ['M', 'R', 'V']
seq3[0]
seq3[1]

'R'

In [22]:
seqdata1 = ('MRVLLVALALLA', 12, '5FE9EEE8EE2DC2C7')
seqdata1[0][5]

'V'

In [23]:
seqdata2 = ['MRVLLVALALLA', 12, '5FE9EEE8EE2DC2C7']
seqdata2[0][5]

'V'

In [24]:
my0="Python"
my1=('P', 'y', 't', 'h', 'o', 'n')
my2=['P', 'y', 't', 'h', 'o', 'n']

In [25]:
my0[1:5:2]

'yh'

In [26]:
my1[1:5:2]

('y', 'h')

In [27]:
my2[1:5:2]

['y', 'h']

In [28]:
point1 = (23, 56, 11) 
11 in point1

True

In [29]:
point2 = [23, 56, 11]
11 in point2

True

In [30]:
point3 = '23 56 11'
'11' in point3

True

In [31]:
point1 = (23, 56, 11) 
len(point1);max(point1);min(point1)

11

In [32]:
point2 = [23, 56, 11]
len(point2);max(point2);min(point2)

11

In [ ]:
point3 = '23 56 11'
len(point3);max(point3);min(point3)

In [1]:
counter = [('A',2), ('T',3), ('G',5), ('C',6)]

In [3]:
ncounter1 = dict(counter)

In [4]:
ncounter1

{'A': 2, 'T': 3, 'G': 5, 'C': 6}

In [9]:
ncounter2 = dict(A=2, T=3, G=4, C=5)

In [10]:
ncounter2

{'A': 2, 'T': 3, 'G': 4, 'C': 5}

In [11]:
ncounter3 = {}
ncounter3['A'] = 7
ncounter3['T'] = 8

In [12]:
ncounter3

{'A': 7, 'T': 8}

In [13]:
MyD={'A':30, 'T':42, 'G':12, 'C':12}
len(MyD)

4

In [14]:
MyD.keys()

dict_keys(['A', 'T', 'G', 'C'])

In [15]:
MyD.values()

dict_values([30, 42, 12, 12])

In [16]:
list(MyD.keys())

['A', 'T', 'G', 'C']

In [17]:
list(MyD.values())

[30, 42, 12, 12]

In [18]:
MyD.items()

dict_items([('A', 30), ('T', 42), ('G', 12), ('C', 12)])

In [19]:
MyD['A']

30

In [20]:
MyD['T']

42

In [21]:
MyD['N']=12

In [22]:
MyD['N']=2

In [23]:
del(MyD['N'])

In [24]:
MyD1=MyD.copy()

In [25]:
MyD1.clear()

In [26]:
MyD1

{}

In [27]:
MyD

{'A': 30, 'T': 42, 'G': 12, 'C': 12}

In [28]:
MyD={'A':30, 'T':42, 'G':12, 'C':12}

In [29]:
MyD1=MyD.copy()

In [30]:
'A' in MyD1

True

In [31]:
'A' not in MyD1

False

In [32]:
MyD.get('A','no A was found! ')

30

In [34]:
MyD.get('N','no N was found! ')

'no N was found! '

In [35]:
MyD1.pop('A')

30

In [36]:
Value=MyD1.pop('C')

In [37]:
Value

12

In [38]:
type(Value)

int

In [43]:
from collections import OrderedDict
d = OrderedDict()			# create a new obj
d['a'] = 'A'
d['c'] = 'C'
d['b'] = 'B'

In [44]:
d

OrderedDict([('a', 'A'), ('c', 'C'), ('b', 'B')])

In [45]:
e=OrderedDict([('c', 'C'), ('b', 'B'), ('a', 'A')])

In [46]:
e

OrderedDict([('c', 'C'), ('b', 'B'), ('a', 'A')])

In [47]:
first_set = set()
first_set.add('CP0140.1')
first_set.add('XJ8113.5')
first_set.add('EF3616.3')
first_set

{'CP0140.1', 'EF3616.3', 'XJ8113.5'}

In [48]:
{2*x for x in [1,2,3]}

{2, 4, 6}

In [49]:
{2*x for x in [1,1,2,2,3,3]}

{2, 4, 6}

In [50]:
first_set = {'CP0140.1','XJ8113.5','EF3616.3'}
other_set = {'EF3616.3'}
common = first_set.intersection(other_set)
common

{'EF3616.3'}

In [51]:
first_set = {'CP0140.1','XJ8113.5','EF3616.3'}
other_set = {'AB7416.2'}

In [52]:
first_set.union(other_set)

{'AB7416.2', 'CP0140.1', 'EF3616.3', 'XJ8113.5'}

In [53]:
first_set | other_set

{'AB7416.2', 'CP0140.1', 'EF3616.3', 'XJ8113.5'}

In [54]:
first_set.difference(other_set)

{'CP0140.1', 'EF3616.3', 'XJ8113.5'}

In [55]:
first_set - other_set

{'CP0140.1', 'EF3616.3', 'XJ8113.5'}

In [56]:
other_set - first_set

{'AB7416.2'}

In [57]:
list(first_set)

['XJ8113.5', 'CP0140.1', 'EF3616.3']

In [58]:
SeqA={'A':30, 'T':42, 'G':12, 'C':12}
SeqB={'A':31, 'T':40, 'G':12, 'C':12}

for x in SeqA.keys(): 
	print(SeqA[x],SeqB[x])

30 31
42 40
12 12
12 12

In [59]:
for x in SeqA.values(): 
	print(x)

30
42
12
12

In [60]:
for x,y in SeqA.items(): 
	print(y, SeqA[x],SeqB[x])

30 30 31
42 42 40
12 12 12
12 12 12

In [61]:
for item in SeqA.items():
	print(item)

('A', 30)
('T', 42)
('G', 12)
('C', 12)

In [62]:
myStr='ATGC'
for i, j in enumerate(myStr):
    print(i,j)

0 A
1 T
2 G
3 C

In [63]:
myList=[1,2,3,4,5]
for x, y in enumerate(myList):
    print(x,y)

0 1
1 2
2 3
3 4
4 5

In [64]:
myTuple=(10,20,30,40,50)
for y, x in enumerate(myTuple):
    print(y,x)

0 10
1 20
2 30
3 40
4 50

In [65]:
mySet={3,3,5,5,6,6,6,7}
for m, n in enumerate(mySet):
    print(m,n)

0 3
1 5
2 6
3 7

In [66]:
myDict={'A':5,'T':3,'G':8,'C':10}
for j, i in enumerate(myDict):
    print(j,i,myDict[i])

0 A 5
1 T 3
2 G 8
3 C 10

In [67]:
myStr='ATGC'
for i in range(0,len(myStr)):
    print(i,myStr[i])

0 A
1 T
2 G
3 C

In [68]:
myList=[1,2,3,4,5]
for x in range(0, len(myList)):
    print(x,myList[x])

0 1
1 2
2 3
3 4
4 5

In [69]:
myTuple=(10,20,30,40,50)
for y in range(0,len(myTuple)):
    print(y,myTuple[y])

0 10
1 20
2 30
3 40
4 50

In [70]:
mySet={3,3,5,5,6,6,6,7}	#{3, 5, 6, 7}
myList=list(mySet) 	# set does not support indexing
for m in range(0,len(myList)):
    print(m,myList[m])

0 3
1 5
2 6
3 7

In [75]:
myDict={'A':5,'T':3,'G':8,'C':10} 
myKey=list(myDict.keys())
for i in range(0,len(myKey)):
    print(i,myKey[i],myDict[myKey[i]])

0 A 5
1 T 3
2 G 8
3 C 10